**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
local.properties
/build/*
/ios/*
/web/*
linux/*
windows/*
test/*
macos/*

.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
insta_clone.iml
pubspec.lock
.dart_tool/*
android/app/